<!DOCTYPE html>
<html>
<head>
	<title>Password Confirmation</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/confrom_pass.css">
</head>
<style>

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
}

body {
   
    margin: 0;
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #27537f;
    background: #ffffff70;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    position: relative;
    width: 100%;
    max-width: 900px;
    height: auto;
    display: flex;
    background: #ffffff;
    box-shadow: 0 0 5px #999999;
}

.login .col-left,
.login .col-right {
    padding: 30px;
    display: flex;
}

.login .col-left {
    width: 60%;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background: #424874
}

.login .col-right {
	padding: 60px 60px;
    width: 70%;
    
}

@media(max-width: 575px) {
    .login .container {
        flex-direction: column;
        box-shadow: none;
    }
    .login .col-left,
    .login .col-right {
        width: 100%;
        margin: 0;
        clip-path: none;
    }
    .login .col-right {
        padding: 30px;
    }
}

.login .login-text {
    position: relative;
    width: 100%;
    color: #ffffff;
}

.login .login-text h2 {
    margin: 0 0 15px 0;
    font-size: 30px;
    font-weight: 700;
}

.login .login-text p {
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.login .login-text .btn {
    display: inline-block;
    font-family: poppins;
    padding: 7px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 30px;
    color: #ffffff;
    outline: none;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: .3s;
}

.login .login-text .btn:hover {
    color: #2aa15f;
    box-shadow: inset 150px 0 0 0 #ffffff;
}

.login .login-form {
    position: relative;
    width: 100%;
}

.login .login-form h2 {
    margin: 0 0 15px 0;
    font-size: 22px;
    font-weight: 700;
}

.login .login-form p {
    margin: 0 0 10px 0;
    text-align: left;
    color: #8082d2;
    font-size: 15px;
}

.login .login-form p:last-child {
    margin: 0;
    padding-top: 3px;
}

.login .login-form p a {
    color:#8082d2;
    font-size: 14px;
    text-decoration: none;
}

.login .login-form label {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    letter-spacing: .5px;
}

.login .login-form p:last-child label {
    width: 60%;
    float: left;
}

.login .login-form label span {
    color: #ff574e;
    padding-left: 2px;
}

.login .login-form input {
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 30px;
}

.login .login-form input:focus {
    border-color: #ff574e;
}

.login .login-form button,
.login .login-form input[type=submit] {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    color: #8082d2;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #8082d2;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 #8082d2;
    transition: .3s;
}

.login .login-form button:hover,
.login .login-form input[type=submit]:hover {
    color: #ffffff;
    box-shadow: inset 250px 0 0 0 #424874;
}

#error{
	display: none;
	color: red;
	align-items: center;
	justify-content: center;
}
#msg{
	display: none;
	color: red;
	font-size: 10px;
}
</style>
	<body>
	<div class="wrapper login">
	<div class="container">
		<div class="col-left">

		</div>
		<div class="col-right">
			<div class="login-form">
		<form action="/admin-chnage" method="post">
			<h1>Change Password</h1>
		<p><label for="password">Password:</label>
			<input type="password" id="password" name="password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" onblur="isSame()"></p>
			<a href="/updated" value="Reset Password" id="btn" class="submit" >forget password</a>
		<p><label for="confirm-password">Confirm Password:</label>
			<input type="password" id="confirm-password" name="confirm-password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  oninput="isSame() " ><br>
		
			<!-- <span id="msg" onclick=" update();">Password is Not Match</span></p>	 -->
			<!-- <span id="msg1">Password is changed</span><br> -->
			<a href="/" id="back_to_login">Back to darshboard</a>
			<p><input type="submit" value="Update" id="update" onclick="comformation();"></p>	
		</form>
		</div>
		</div>
	</div>
</div>
<script>
function isSame(){
    let str1=document.getElementById('password').value;
    let str2=document.getElementById('confirm-password').value;

    if(str1 != str2){
        document.getElementById('msg').style.display='block';
        document.getElementById('update').style.display='none';
        
    }else{
        document.getElementById('msg').style.display='none';
        document.getElementById('update').style.display='block';
    }
}
let temp=document.getElementById('password').value;
console.log(temp);
function update(){
    fetch('http://localhost:8000/update', {
        method: 'post',
        headers: {
            "Content-type": 'application/json'
        },
        body: JSON.stringify({
            temp,
        })
    })
}
</script>
</body>
</html>