<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="/css/adminpermission.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
</head>
<script src="/js/dashboard.js"></script>
<body>
    <%- include('header'); -%>
    <div class="main-container">
        <%- include('nav'); -%>
        <div class="main">
            <div class="header">
                <h1>Online Student Examination System Project</h1>
            </div>


            <div class="header2">
                <h2>exam management</h2>

            </div>

            <table>
                <tr>
                    <th> admin email</th>
                </tr>
                <% for(i=0;i<data1.length ;i++){ %>
                <tr>
                    <td><%=data1[i].email%></td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
</body>

</html>