<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
				initial-scale=1.0">
    <title>online exam system</title>

</head>



<link rel="stylesheet" href="/css/dashboard.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">


<body>

    <!-- for header part -->
    <header>

        <div class="logosec">
            <div class="logo">online exam system</div>
            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210182541/Untitled-design-(30).png"
                class="icn menuicn" id="menuicn" alt="menu-icon">
        </div>


        <div class="message">
            <div class="circle"></div>


            <div class="dp">
                <a href="#" id="myLink"><img src="/assets/image/profile.png" class="dpicon" alt="dp"></a>
                <div id="myMenu" style="display: none;">
                    <!-- Pop-up menu or dropdown list items go here -->
                  
                    logout
                </div>
            </div>
        </div>

    </header>

    <div class="main-container">
        <div class="navcontainer">
            <nav class="nav">
                <div class="nav-upper-options">
                    <div class="nav-option option1">
                        <i class="fa-solid fa-house"></i>
                        <a href="" class="btn active">
                            <h3> Dashboard</h3>
                        </a>
                    </div>

                    <div class="option2 nav-option">
                        <i class="fa-solid fa-bars"></i>
                        <a href="" class="btn">
                            <h3> category</h3>
                        </a>
                    </div>
                    <div class="option2 nav-option">
                        <i class="fa-sharp fa-regular fa-circle-question"></i>
                        <a href="" class="btn">
                            <h3> question</h3>
                        </a>
                    </div>
                    <div class="option2 nav-option">
                        <i class="fa-regular fa-user"></i>
                        <a href="" class="btn">
                            <h3>user</h3>
                        </a>
                    </div>
                    <div class="nav-option option">
                        <i class="fa-solid fa-clipboard"></i>
                        <a href="" class="btn">
                            <h3>create exam</h3>
                        </a>
                    </div>
                    <div class="nav-option option">
                        <i class="fa-sharp fa-solid fa-square-poll-vertical"></i>
                        <a href="" class="btn">
                            <h3> result</h3>
                        </a>
                    </div>


                </div>
            </nav>
        </div>
        <div class="main">

            <div class="searchbar2">
                <input type="text" name="" id="" placeholder="Search">
                <div class="searchbtn">
                    <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180758/Untitled-design-(28).png"
                        class="icn srchicn" alt="search-button">
                </div>
            </div>

            <div class="box-container">

                <div class="box box1">
                    <div class="text">
                        <h2 class="topic-heading">category</h2>
                        <h2 class="topic">total category</h2>
                    </div>
                </div>

                <div class="box box2">
                    <div class="text">
                        <h2 class="topic-heading">user</h2>
                        <h2 class="topic">total user</h2>
                    </div>
                </div>

                <div class="box box3">
                    <div class="text">
                        <h2 class="topic-heading">exam</h2>
                        <h2 class="topic">total exam</h2>
                    </div>
                </div>

                <div class="box box4">
                    <div class="text">
                        <h2 class="topic-heading">result</h2>
                        <h2 class="topic">result history</h2>
                    </div>
                </div>

                <div class="box box5">
                    <div class="text">
                        <h2 class="topic-heading">questions</h2>
                        <h2 class="topic">total questions</h2>
                    </div>
                </div>

                <div class="box box6">
                    <div class="text">
                        <h2 class="topic-heading"> test</h2>
                        <h2 class="topic">total test </h2>
                    </div>
                </div>

            </div>

        </div>
    </div>


</body>
<script src="/js/dashboard.js"></script>

</html>