<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="/css/exam.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
</head>
<script src="/js/dashboard.js"></script>

<body>
    <%- include('header'); -%>
        <div class="main-container">
            <%- include('nav'); -%>
                <div class="main">
                    <div class="header">
                        <h1>Online Student Examination System Project</h1>
                    </div>


                    <div class="header2">
                        <h2>exam management</h2>

                    </div>



                    <div class="exam_main">
                        <div class="combine">
                            <div class="one">
                                <label for="">ADD EXAM</label>
                            </div>
                            <form action="/exam" method="post" onsubmit="return validateform()">
                                <div class="two">
                                    <div class="input_taker">
                                        <label for="exam_name" class="labelofInput"> exam name: </label>
                                        <input type="text" name="exam_name" id="exam_name" placeholder="enter exam name"
                                            class="input_tag" onfocusout="examvalidation()" required>

                                    </div>
                                    <div class="input_taker"> 
                                         <label for="" class="labelofInput"> category :</label> 
                                        <select name="category" id="category_select" multiple required> 
                                            <!-- <option value="">APPTITUDE</option>
                            <option value="">VERBAL</option>
                            <option value="">LOGICAL</option>
                            <option value="">OOPS</option>s
                            <option value="">DSA</option> -->
                                        </select> 


                                    </div>

                                    <div class="input_taker">
                                        <label for="question" class="labelofInput">no of questions: </label>
                                        <input type="number" name="question" id="question" placeholder="enter no of questions"
                                            class="input_tag" min="10" max="50" value="10" required>

                                    </div>
                                    <div class="input_taker">
                                        <label for="time" class="labelofInput"> time limit: </label>

                                        <input type="number" name="time" id="time" placeholder="enter time limit"
                                            class="input_tag" min="10" max="180" value="10" required>
                                        <label for="" class="extra_label">(adding time limit in minutes)</label>

                                    </div>

                                    <!-- <div class="input_taker">
                                        <label for="passing_mark" class="labelofInput"> passing marks: </label>
                                        <input type="text" name="passing_mark" id="" placeholder="enter passing marks"
                                            class="input_tag" required>

                                    </div> -->
                                    <div class="input_taker">
                                        <label for="start_date" class="labelofInput"> start date: </label>
                                        <input type="date" name="start_date" id="start_date" placeholder="enter start date"
                                            class="input_tag" required>

                                    </div>
                                    <!-- <div class="input_taker">
                                        <label for="exam_date" class="labelofInput"> end date: </label>
                                        <input type="date" name="end_date" id="" placeholder="enter end date"
                                            class="input_tag" required>

                                    </div> -->
                                  
                                </div>
                                <div class="save_div">
                                    <p id="0"></p>
                                    
                                    <input type="submit" id="save_btn" value="SAVE">
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
        </div>

</body>

<script>
   function validateform(){
    let exam_name = document.getElementById('exam_name').value;
    let symbol = ['!', '@', '#', '$', '%', '^', '&', '*', '(', ')', '<', '>', '?', '/', ',', '.', '"', ':', ';', '+', '-', '`', '~','=','[',']','{','}'];

    if(exam_name==''){
      alert('name cant be empty')
      return false;
    }
     for(i=0;i<symbol.length;i++){
        if(exam_name.includes(symbol[i])){
            alert('special character is not allowed')
            return false;
        }
     }
     if(!isNaN(exam_name)){
        alert('only numbers are not allowed')
        return false;
     }
    

   }

   let exam_name = document.getElementById('exam_name').value;
    let question =  document.getElementById('question').value;
    let time = document.getElementById('time').value;
    let start_date = document.getElementById('start_date').value;
    let category_select = document.getElementById('category_select');


    categortFetch();
    function categortFetch() {
        fetch('/categories').then(res => res.json()).then(data => {
            // console.log("data", data)
            // console.log(data.arr.length);
            // console.log(data.arr2.length);

            for (let i = 0; i < data.arr.length; i++) {
                // console.log(data.arr[i])
                // console.log(data.arr2[i])
                category_select.innerHTML += ` <option value="${data.arr2[i]}">${data.arr[i]}</option>`;

            }

        }).catch(err => console.log(err));
    }

 </script> 
</html>