<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <div class="main-container"> -->
        <div class="navcontainer">
            <nav class="nav">
                <div class="nav-upper-options">
                    <a href="/" class="btn active">
                        <div class="nav-option option1">
                        <i class="fa-solid fa-house"></i>
                            <h3> Dashboard</h3>
                        </div>
                    </a>
                    <a href="/category" class="btn">
                    <div class="option2 nav-option">
                        <i class="fa-solid fa-bars"></i>
                        
                            <h3> category</h3>
                        </div>
                    </a>
                    <div class="option2 nav-option">
                        <i class="fa-sharp fa-regular fa-circle-question"></i>
                        <a href="/question" class="btn">
                            <h3> question</h3>
                        </a>
                    </div>
                    <div class="option2 nav-option">
                        <i class="fa-regular fa-user"></i>
                        <a href="/user" class="btn">
                            <h3>user</h3>
                        </a>
                    </div>
                    <div class="nav-option option">
                        <i class="fa-solid fa-clipboard"></i>
                        <a href="" class="btn">
                            <h3>create exam</h3>
                        </a>
                    </div>
                    <div class="nav-option option">
                        <i class="fa-sharp fa-solid fa-square-poll-vertical"></i>
                        <a href="" class="btn">
                            <h3> result</h3>
                        </a>
                    </div>


                </div>
            </nav>
        </div>    
    <!-- </div> -->

</body>
<!-- <script src="/js/dashboard.js"></script> -->
</html>