<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
				initial-scale=1.0">
    <title>online exam system</title>
    

</head>



<link rel="stylesheet" href="/css/question.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'> 


<body>

    <!-- for header part -->
    <%- include('header'); -%>


        <div class="main-container">
            <!--nav bar add-->

            <%- include('nav'); -%>
                <div class="main">



                    <div class="content-main">
                        <div class="content-heading">Question list</div>

                        <div class="button-card">
                            <div class="exam-button-row">
                                <h3>Exam list</h3>
                            </div>
                            <div class="exam-button-row">
                                <a href="/addquestion">add que</a>
                                </div>
                        </div>
                        <div><input type="text" placeholder="search"></div>
                        <div>

                            <table class="question-table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Exam Name</th>
                                        <th>Total Question</th>
                                        <th>Exam time</th>
                                        <th>Exam Access Code </th>
                                        <th>Exam Status</th>
                                        <th>Created Date</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Data 1</td>
                                        <td>Data 2</td>
                                        <td>Data fb ertbghdfb ergdefb efrbgefrb erfbgfrb 3</td>
                                        <td>Datafgjhjhrtjhurtyhr 1</td>
                                        <td>Data 2</td>
                                        <td>Data rtyherthertherthert3</td>
                                        <td>Data 3</td>
                                    </tr>
                                    <tr>
                                        <td>Data 4</td>
                                        <td>Data 5</td>
                                        <td>Databrtgrbertbrtb 6</td>
                                        <td>Data ertbgrg rtbfg rtgrt 1</td>
                                        <td>Data ertherthrtherthert eryer2</td>
                                        <td>Data 3</td>
                                        <td>Data 3</td>
                                    </tr>
                                    <tr>
                                        <td>Data 7</td>
                                        <td>Datafbfrbrtegrtbert gdfge frgfghefr efrgfrgh 8</td>
                                        <td>Data rb tgertgrttb9</td>
                                        <td>Data 1</td>
                                        <td>Data ertyhertyy2er4grtg54gt</td>
                                        <td>Data 3</td>
                                        <td>Data 3</td>
                                    </tr>
                                    <tr>
                                        <td>Data 5r4g5tg5g547</td>
                                        <td>Datyhertyertyertyertya 8</td>
                                        <td>Data rtghrtgertbghet59</td>
                                        <td>Data 1</td>
                                        <td>Data 2</td>
                                        <td>Data ertbghert 3</td>
                                        <td>Data 3</td>
                                    </tr>
                                    <tr>
                                        <td>Data rythytnhrtyhrythrthghghrh7</td>
                                        <td>Dattbngthnyt a 8</td>
                                        <td>Data 9</td>
                                        <td>Data 1</td>
                                        <td>Datartyrtyertyer 2</td>
                                        <td>Data 3</td>
                                        <td>Data rtyhrtyrty erty3</td>
                                    </tr>
                                    <tr>
                                        <td>Data 7</td>
                                        <td>Data 8</td>
                                        <td>Data 9</td>
                                        <td>Data 1</td>
                                        <td>Data 2</td>
                                        <td>Data 3</td>
                                        <td>Data 3</td>
                                    </tr>
                                    <tr>
                                        <td>Data 7</td>
                                        <td>Dataerhrthrthrtyhrt 8</td>
                                        <td>Dathertherthy tyhertya 9</td>
                                        <td>Data 354y54y34 5 yu54y 1</td>
                                        <td>Data 354y54 4 2</td>
                                        <td>Data m rtyhertyertyertyerty3</td>
                                    </tr>
                                    <tr>
                                        <td>Datayertyer rtyertyertyert eryweryhy 7</td>
                                        <td>Data ertyertyertyerty erghe t 8</td>
                                        <td>Data e ryertyeryh yery 9</td>
                                        <td>Data yeryeywery 1</td>
                                        <td>Dataer yrt yrty rtyt 2</td>
                                        <td>Data yheryeryyeryey 3</td>
                                        <td>Data erth ertrtyh 5 3</td>
                                    </tr>

                                </tbody>
                            </table>


                        </div>




                    </div>
                </div>
        </div>
</body>

<script src="/js/dashboard.js"></script>

</html>