a
{
    text-decoration: none;
    cursor: pointer;
}
.btnn
{
    padding: 6px 15px;
    border-radius: 15px;
}
.edit-btn
{
    background-color: blue;
    padding: 9px 15px;
    color: white;
    border-radius: 15px;
    font-size: 13px;
}
.delete-btn
{
    background-color: red;
    padding: 9px 15px;
    color: white;
    border-radius: 15px;
    font-size: 13px;
}
th
{
    border: 1px solid rgb(24, 20, 20);
    padding: 0.5rem;
    background-color: rgb(13, 15, 12);
    color: white;
}
td 
{
    border: 1px solid #777;
    padding: 0.5rem;
    text-align: center;

}
table 
{
    width : 100%;
    border-collapse: collapse;
}
tbody tr:nth-child(odd) 
{
    background: rgb(123, 124, 128);
}

.dialogues {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.dialogue {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.add-link
{
    display: flex;
    justify-content: end;
    gap : 20px;
}

.add-link a
{
    background-color: green;
    padding: 13px;
    border-radius: 15px;
    color: white;
    margin: 0px 0px 10px;
    cursor: pointer;
}

.text
{

    margin-bottom: 10px;
}

.dialogue h2 {
    margin-top: 0;
}

.dialogue p {
    margin-bottom: 19px;
}



.dialogue .input {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dialogue .input.yes {
    background-color: #1abc9c;
    color: #fff;
}

.dialogue .input.no {
    background-color: #e74c3c;
    color: #fff;
}


.dialogues h2 {
    margin-top: 0;
}

.dialogues p {
    margin-bottom: 19px;
}



.dialogues .input {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dialogues .input.yes {
    background-color: #1abc9c;
    color: #fff;
}

.dialogues .input.no {
    background-color: #e74c3c;
    color: #fff;
}