/* Main CSS Here */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --background-color1: #fafaff;
    --background-color2: #ffffff;
    --background-color3: #ededed;
    --background-color4: #d5d6d8a4;
    --primary-color: #4b49ac;
    --secondary-color: #0c007d;
    --Border-color: #3f0097;
    --one-use-color: #a58702;
    --two-use-color: #a53704;
    --three-use-color: #307a05;
}

body {
    background-color: var(--background-color4);
    max-width: 100%;
    overflow-x: hidden;
}

i {
    padding-right: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 12060px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
}

header {
    height: 70px;
    width: 100vw;
    padding: 0 30px;
    background-color: var(--background-color1);
    position: fixed;
    /* z-index: 10; */
    /* z-index: 10; */
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 27px;
    font-weight: 600;
    color: rgb(38, 134, 12);

}

.logo:hover {
    color: #010058af
}

.icn {
    height: 30px;
}

.menuicn {
    cursor: pointer;
}

.searchbar,
.message,
.logosec {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 15px;
}

.searchbar2 {
    display: none;
}

.logosec {
    gap: 20px;
}

.searchbar input {
    width: 250px;
    height: 42px;
    border-radius: 50px 0 0 50px;
    background-color: var(--background-color3);
    padding: 0 20px;
    font-size: 15px;
    outline: none;
    border: none;
}

.searchbtn {
    width: 50px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 50px 50px 0px;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.message {
    gap: 40px;
    position: relative;
    cursor: pointer;
}

.dp a {

    padding: 10px;

    /* background-color: rgb(38, 134, 12); */
    border-radius: 5px;
    /* font-weight: bold; */
    margin: 5px;
    color: white;
}

.logout {
    background-color: rgb(136, 28, 28);

}

.forget {
    background-color: #010058af;
}

.dp a:hover {
    background-color: #ccf3c0af;
    color: black;
}

.main-container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 70px;
    z-index: 1;
}

.dpicon {
    height: 49px;
}

/* body{
    background-image: url(/public/assets/image/wave.png);
    background-size: cover;
} */

.main {

    height: calc(100vh - 70px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px 30px 30px 30px;
    /* border: 1px solid red; */
}

/* .main::-webkit-scrollbar-thumb {
    background-image:
        linear-gradient(to bottom, rgb(52, 76, 34),rgb(52, 76, 34));
}

.main::-webkit-scrollbar {
    width: 4px;
}

.main::-webkit-scrollbar-track {
    background-color: #9e9e9eb2;
} */

a {
    text-decoration: none;
}

.box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.nav {
    min-height: 91vh;
    width: 260px;
    background-color: var(--background-color2);
    position: absolute;
    top: 0px;
    left: -10px;
    box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0 20px 10px;
}

.navcontainer {
    height: calc(100vh - 70px);
    width: 250px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

.navcontainer::-webkit-scrollbar {
    display: none;
}

.navclose {
    width: 50px;
}

.option1 {

    /* background-color:#ccf3c0af; */
    /* color: white; */
    cursor: pointer;
}

.option1:hover {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
}

.nav-option {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    gap: 10px;
    transition: all 0.1s ease-in-out;
}

.nav-option:hover {

    background-color: #dadada;
    cursor: pointer;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
}

.nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.box {

    height: 240px;
    width: 25%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    /* padding: 100px; */
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.08);
    opacity: 0.8;
}

 .box1 {

    background-image: url(/assets/image/pexels-lukas-590041\ \(1\).jpg);
    background-size: cover;

 }
.box2 {
 
    background-image: url(/assets/image/pexels-ann-poan-5797903.jpg);
    background-size: cover;
}

.box3 {

    background-image: url(/assets/image/pexels-jeswin-thomas-3380743.jpg);
    background-size: cover;
}

.box4 {

    background-image: url(/assets/image/result.jpg);
    background-size: cover;
}

.box5 {

    background-image: url(/assets/image/pexels-ann-h-10981242.jpg);
    background-size: cover;
} 





.box .text {
    color: rgb(0, 0, 0);
    margin: 5px;
}

.count {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.topic {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
}

.topic-heading {
    font-size: 30px;
    letter-spacing: 3px;
}

.report-container {
    min-height: 300px;
    max-width: 1200px;
    margin: 70px auto 0px auto;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 20px 20px 20px;
}

.report-header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.recent-Articles {
    font-size: 30px;
    font-weight: 600;
    color: #5500cb;
}

.view {
    height: 35px;
    width: 90px;
    border-radius: 8px;
    background-color: #5500cb;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.report-body {
    max-width: 1160px;
    overflow-x: auto;
    padding: 20px;
}

.report-topic-heading,
.item1 {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t-op {
    font-size: 18px;
    letter-spacing: 0px;
}

.items {
    width: 1120px;
    margin-top: 15px;
}

.item1 {
    margin-top: 20px;
}

.t-op-nextlvl {
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;
}

.label-tag {
    width: 100px;
    text-align: center;
    background-color: rgb(0, 177, 0);
    color: white;
    border-radius: 4px;
}

/* Responsive CSS Here */
@media screen and (max-width: 950px) {
    .nav-img {
        height: 25px;
    }

    .nav-option {
        gap: 30px;
    }

    .nav-option h3 {
        font-size: 15px;
    }

    .report-topic-heading,
    .item1,
    .items {
        width: 800px;
    }
}

@media screen and (max-width: 850px) {
    .nav-img {
        height: 30px;
    }

    .nav-option {
        gap: 30px;
    }

    .nav-option h3 {
        font-size: 20px;
    }

    .report-topic-heading,
    .item1,
    .items {
        width: 700px;
    }

    .navcontainer {
        width: 100vw;
        position: absolute;
        transition: all 0.6s ease-in-out;
        top: 0;
        left: -100vw;
    }

    .nav {
        width: 100%;
        position: absolute;
    }

    .navclose {
        left: 00px;
    }

    .searchbar {
        display: none;
    }

    .main {
        padding: 40px 30px 30px 30px;
    }

}

@media screen and (max-width: 490px) {
    .message {
        display: none;
    }

    .logosec {
        width: 100%;
        justify-content: space-between;
    }

    .logo {
        font-size: 20px;
        animation: backwards;
        animation-direction: normal;
    }

    .menuicn {
        height: 25px;
    }

    .nav-img {
        height: 25px;
    }

    .nav-option {
        gap: 25px;
    }

    .nav-option h3 {
        font-size: 12px;
    }

    .nav-upper-options {
        gap: 15px;
    }

    .recent-Articles {
        font-size: 20px;
    }

    .report-topic-heading,
    .item1,
    .items {
        width: 550px;
    }
}

@media screen and (max-width: 400px) {
    .recent-Articles {
        font-size: 17px;
    }

    .view {
        width: 60px;
        font-size: 10px;
        height: 27px;
    }

    .report-header {
        height: 60px;
        padding: 10px 10px 5px 10px;
    }

    .searchbtn img {
        height: 20px;
    }
}

@media screen and (max-width: 320px) {
    .recent-Articles {
        font-size: 12px;
    }

    .view {
        width: 50px;
        font-size: 8px;
        height: 27px;
    }

    .report-header {
        height: 60px;
        padding: 10px 5px 5px 5px;
    }

    .t-op {
        font-size: 12px;
    }

    .t-op-nextlvl {
        font-size: 10px;
    }

    .report-topic-heading,
    .item1,
    .items {
        width: 300px;
    }

    .report-body {
        padding: 10px;
    }

    .label-tag {
        width: 70px;
    }

    .searchbtn {
        width: 40px;
    }

    .searchbar2 input {
        width: 180px;
    }
}

/* #myMenu {
        position: absolute;
        top: 20px;
        left: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        z-index: 1;
    }

    #myMenu a {
        display: block;
        padding: 5px 10px;
        color: #333;
        text-decoration: none;
    }

    #myMenu a:hover {
        background-color: #f5f5f5;
    } */
.display-picture img:hover {
    border: 2px solid #E78341;
}

.card {
    transition: 0.5s ease;
}

.card ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: #ffffff;
    position: absolute;
    top: 4rem;
    right: 0rem;
    border-radius: 10px;
    padding: 10px 50px 10px 20px;
}

.card ul li {
    border-radius: 5px;


    width: 100%;

    font-size: 14px;
}

.hidden {
    display: none;
}

.active {
    pointer-events: none;
    cursor: default;
    background-color: #ccf3c0af;
}

div.box {
    margin: 20px;
    width: 270px;
    height: 270px;
}