.inputtag{
   width: 100%;
   margin: 20px; 
}

.cancelbutton{
    padding: 20px;
    background-color: rgb(243, 56, 56);
    border-radius: 5px;
    border-color: black;
}

input[type=submit]{
    padding: 20px;
    background-color: rgb(63, 114, 209);
    border-radius: 5px;
}
.form{
    margin: 40px;
    margin-left: 450px;
    border-color: bisque;
    border-width: 4px;
}


