.inputtag{
   width: 100%;
   margin: 20px; 
}

.cancelbutton{
    padding: 5px;
    background-color: rgb(136, 28, 28);
    border-radius: 5px;
    
}
.cancelbutton:hover{
    background-color:  rgb(73, 41, 41);;
}

input[type=submit]{
    padding: 5px;
    background-color: rgb(63, 114, 209);
    border-radius: 5px;
}
.form{
    margin: 40px;
    padding-right: 790px;
    border-color: bisque;
    border-width: 4px;
    background-color: white;
    background-image: url(/assets/image/wave.png);
    background-size: cover;
}
input[type=text],input[type=email]{
    padding: 10px;
    border-radius: 5px;
}
label{
    margin: 15px;
    font-weight: bold;
}

select , option {
   padding-bottom: 10px;
    border-radius: 5px;
    width: 70%;
}
.lastinputtag{
  padding-left: 120px;
}
td{
    padding: 20px;
}
p{
    color: red;
}