* {
    text-transform: capitalize;
    margin: 0;
}

.header {
    /* border: 1px solid black;  */
     padding: 5px; 
     background-color: #417690; 
     text-align: center;

}

.header2 {
    background-color: #79aec8;
    margin-bottom: 50px;
}

.header2 h2 {
    padding: 10px 10px;

}

.plusicon {
    /* border: 1px solid black; */
    /* border-radius: 50%; */
    padding: 2px;
    background-color: rgb(118, 223, 236);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    display: inline-block;

}

.fa-plus {
    color: white;
}

.exam_main {
    /* border: 1px solid black; */
    margin: 0px 16px;

}

.exam_main h2 {
    margin-left: 10px;
}

.combine {
    /* margin-bottom: 10px; */
}

.one {
    border-bottom: 1px solid rgb(209, 201, 201);
    padding: 10px;
    color: #79aec8;
    margin-left: 10px;
    display: inline-block;
}

.one label {
    font-weight: 600;
}

.two {
    display: flex;
    flex-direction: column;
}

.labelofInput {
    /* border: 1px solid black; */
    width: 160px;
    display: inline-block;
    padding: 6px 8px;


}

.input_tag {
    padding: 6px 8px;
    width: 400px
}

.input_taker {
    margin: 10px 10px;

    padding: 10px;
    border-bottom: 1px solid rgb(209, 201, 201);
}

#save_btn {

    margin-left: auto;
    border: none;
    background-color: #79aec8;
    color: #082d3f;
    padding: 10px;
    border-radius: 10px;
    width: 80px;
    outline: none;
}

.save_div {
    /* display: inline-block; */
    padding: 10px;
    /* border: 1px solid black; */
    /* margin-left: auto; */
}

.extra_label {
    font-size: 14px;
}

#save_add {
    margin-left: auto;
    border: none;
    background-color: #79aec8;
    color: #082d3f;
    padding: 10px;
    border-radius: 10px;
    width: 160px;
    outline: none;
}

table,
td,
th {
    border: 1px solid rgb(209, 201, 201);
    padding: 6px;
}
#status{
    padding: 4px;
    border-radius: 10px;
}
#toggle{
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    width: 100%;
    padding: 5px;
}

caption {
    /* border: 1px solid black; */
    color: #79aec8;
    font-weight: 600;
    padding: 5px;
    font-size: 20px;
}

.exam_listing {
    margin-bottom: 100px;
}

select,
option {
    padding: 5px;
}


/* toggle button code  */
#heading{
    display: flex;
    padding: 10px;
    /* border: 1px solid black; */
    justify-content: space-between;
}
.heading1{
display: inline-block;
/* border: 1px solid black; */

}
.heading1 label{
    color: #082d3f;
    font-size: 20px;
    font-weight: 600;
}
.heading2 i{
    color: #082d3f;
    font-size: 30px;
    font-weight: 600;
}
.heading2{
    display: inline-block;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;


}
.edit{
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #417690;
}
.td{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search{
    margin-right: 10px;
    border-radius: 10px;
    padding-left: 2px;
    padding: 6px;
}
#exam_search {
    border: 1px solid black;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: azure;
}