body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }
  
  div {
      display: block;
  }
  body {
      margin: 0;
      font-family: var(--bs-font-sans-serif);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: transparent;
  }
  
  .text-primary {
    color: #26364e!important;
  }
  .pagecontainer {
    min-height: 100vh;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--greyLight-2);
    color: var(--greyDark);
  }
  
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
  }
  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  .text-primary {
    color:#121212!important
  }
  
  .mb-4 {
    margin-bottom: 1.5rem!important;
  }
  .mt-4 {
    margin-top: 1.5rem!important;
  }
  .text-center {
    text-align: left;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 1100px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
  }
  :root {
    --primary: #050505;;
    --greyLight: #010202e1;
    --greyLight-2: #feffff;
    --greyDark: #2d4848;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  
  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--greyLight-2);
    color: var(--greyDark);
  }
  
  ul {
    list-style-type: none;
  }
  
  .items-list {
    max-width: 90vw;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3rem;
    justify-content: center;
    align-content: center;
  }
  @media only screen and (max-width: 600px) {
    .items-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .item {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--greyDark);
    cursor: pointer;
  }
  .item span {
    background: #ffffff;
    box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
    border-radius: 0.6rem;
    padding: 2rem;
    font-size: 3rem;
    transition: all 0.3s ease;
  }
  .item:hover span {
    transform: scale(1.2);
    color: var(--primary);
  }
  .item p {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: var(--greyLight);
  }
  
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin: 3rem;
    border-radius: 0.6rem;
    background: #ffffff;
    box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
  }
  .page__numbers, .page__btn, .page__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    font-size: 1.4rem;
    cursor: pointer;
  }
  .page__dots {
    width: 2.6rem;
    height: 2.6rem;
    color: var(--greyLight);
    cursor: initial;
  }
  .page__numbers {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 0.4rem;
  }
  .page__numbers:hover {
    color: var(--primary);
  }
  .page__numbers.active {
    color: #ffffff;
    background: var(--primary);
    font-weight: 600;
    border: 1px solid var(--primary);
  }
  .page__btn {
    color: var(--greyLight);
    pointer-events: none;
  }
  .page__btn.active {
    color: var(--greyDark);
    pointer-events: initial;
  }
  .page__btn.active:hover {
    color: var(--primary);
  }
  
  /* search  */
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  
  body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
  }
  
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
      width: 200%;
      border: 3px solid #000000;
      border-right: none;
      padding: 20px;
      height: 20px;
      border-radius: 5px 0 0 5px;
      outline: none;
      color: #000000;
  }
  
  .searchTerm:focus{
    color: #050505;
  }
  
  .searchButton {
      width: 100px;
      border: 1px solid #131313;
      background: #000000;
      text-align: center;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      /* font-size: 20px; */
      padding: 6px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }