*{
    text-transform: capitalize;
}
*{
    text-transform: capitalize;
}
#page{
    display: flex;
    flex-direction: row;
}
#page p{
    margin: 0px 10px;
}

th
{
    border: 1px solid rgb(24, 20, 20);
    padding: 0.5rem;
    background-color: rgb(13, 15, 12);
    color: white;
}
td 
{
    border: 1px solid #777;
    padding: 0.5rem;
    text-align: center;

}
table 
{
    width : 100%;
    border-collapse: collapse;
}
tbody tr:nth-child(odd) 
{
    background: rgba(0,0,0,0.2);
}

.p{
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 20px 0px;
}
#p{
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
}
.back{
    margin-top: 40px;
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: #777;
    border-radius: 10px;
    cursor: pointer;

    
}
#page{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    /* display: inline-block; */
    width: 180px;
    /* border: 1px solid black; */
    justify-content: space-between;
}
#page p{
        cursor: pointer;
        margin-top: 20px;
        color: rgb(44, 112, 112);
        background-color: beige;
        padding: 8px;
        border-radius: 8px;
    
}


