body{
    width: 70%;
}


th {
    border: 1px solid rgb(24, 20, 20);
    padding: 0.5rem;
    background-color: rgb(13, 15, 12);
    color: white;
}

td {
    border: 1px solid #777;
    padding: 0.4rem;
    text-align: center;

}

table {
    width: 70%;
    border-collapse: collapse;

    box-sizing: border-box;
}

tbody tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.2);
}


ul {
    list-style-type: none;
}

.pagination a {
    color: rgb(44, 112, 112);
    background-color: beige;
    padding: 8px;
    border-radius: 8px;
}

.page {
    margin-top: 1.5rem;
}

.pagination {
    display: flex;
    gap: 10px;
}


table {
    width: 100%;
}


#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #4f4f50;
}

table{
    display: flex;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.btnn {
    padding: 6px 15px;
    border-radius: 15px;
}

.edit-btn {
    background-color: rgb(75, 75, 101);
    padding: 9px 15px;
    color: white;
    border-radius: 15px;
    font-size: 13px;
}

th {
    border: 1px solid rgb(24, 20, 20);
    padding: 0.5rem;
    background-color: rgb(13, 15, 12);
    color: white;
}

td {
    border: 1px solid #777;
    padding: 0.5rem;
    text-align: center;
    font-size: 13px;

}

table {
    width: 100%;
    border-collapse: collapse;
}


.add-link {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.add-link .add {
    background-color: green;
    padding: 13px;
    border-radius: 15px;
    color: white;
    margin: 0px 0px 10px;
    cursor: pointer;
}

.text {

    margin-bottom: 10px;
}


ul {
    list-style-type: none;
}

.pagination a {
    color: rgb(44, 112, 112);
    background-color: beige;
    padding: 8px;
    border-radius: 8px;
}

.page {
    margin-top: 1.5rem;
}

.pagination {
    display: flex;
    gap: 10px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    cursor: pointer;
}