<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link  rel="icon"  type="image/webp"  href="../public/assets/image/browser head.webp">
</head>

<body>
    <link rel="stylesheet" type="text/css" href="/public/css/setPassword.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	<div class="container">
		<div class="img">
			<img src="/assets/image/BG.jpg">

           
            
		</div>
		<div class="login-content">
      

                            <form method="post" action="/updatePassword" onsubmit="return validateForm()">
                                <img src="/assets/image/key.png">
                                <h2 class="title"><h4>Change Password</h4> </h2>
                                   <div class="input-div one">
                                      <div class="i">
                                              <i class="fas fa-user"></i>
                                      </div>
                                      <div class="div">
                                        <input type="password" id="password" name="password"  onkeyup="validPass(this.value)" placeholder="Password" required />
                                       
                                      
                                    
                                    </div>
                                </div>
                                <div>
                                    <p id="password_lable" style=" margin: 15px 0;
                                    text-align: center;"></p>
                                   </div>

                                <div class="input-div pass">
                                   <div class="i"> 
                                        <i class="fas fa-lock"></i>
                                   </div>
                                   <div class="">
                                        <input type="password" id="confirm" name="confirm"   placeholder="Confirm Password"  onkeyup="confim_password()" required />
                                      
                                    </div>
                                     </div>
                                     
                                     <div class="demo"><p id="confirm_lable" style=" margin: 15px 0;
                                        text-align: center;"></p></div>
                                    
                                    
                                    <input type="submit"  style="width: 200px;" class="btn" id="submitAll" value="Reset Password">
                            
                                   </div>
                                </div>     
                             
</body>
<script src="/js/activation.js"></script>
<script src="/js/login.js"></script>
<script src="/js/setPassword.js"></script>
<script src="/js/validEmail.js"></script>


</html>